<article class="article">
    <a href="{{ article.meta('original_article_link') }}"
       class="article__link">
        {{ __('En savoir plus', 'savannair') }}
    </a>
    <h3 class="article__title">
        {{ article }}
    </h3>
    <div class="wysiwyg article__excerpt">
        {{ function('apply_filters', 'the_content', article.preview.read_more(false) ) }}
    </div>
    <img src="{{ article.thumbnail.src }}"
         srcset="{{ article.thumbnail.srcset }}"
         sizes="(max-width: 1920px) 100vw, 1920px"

         alt="{{ article.thumbnail.alt }}"
         class="article__image"/>
</article>