{% extends 'base.twig' %}

{% block body %}

    <main class="module module__{{ post.nom_unique }}">
        <section class="module__introduction {{ post.nom_unique }}__introduction">
            <img src="{{ post.thumbnail.src('medium') }}"
                 srcset="{{ post.thumbnail.srcset }}"
                 sizes="(max-width: 1920px) 100vw, 1920px"
                 loading="lazy"
                 alt="{{ post.thumbnail.alt }}"
                 class="module__image {{ post.nom_unique }}__image"/>
            <h3 class="module__title {{ post.nom_unique }}__title">
                {{ post.title }}
            </h3>
            <div class="wysiwyg module__text {{ post.nom_unique }}__text">
                {{ post.content }}
            </div>
        </section>
        <div class="module__body">
            <section class="module__main">
                <h3 class="module__characteristics__title {{ post.nom_unique }}__characteristics__title">
                    {{ __('Caracteristiques', 'savannair') }}
                </h3>
                <div class="wysiwyg module__characteristics__text {{ post.nom_unique }}__characteristics__text">
                    {{ post.meta('characteristics') }}
                </div>
                <h3 class="module__measured__title {{ post.nom_unique }}__measured__title">
                    {{ __('Polluants mesurés', 'savannair') }}
                </h3>
                <div class="wysiwyg module__measured__text {{ post.nom_unique }}__measured__text">
                    {{ post.meta('measured') }}
                </div>
                <h3 class="module__developing__title {{ post.nom_unique }}__developing__title">
                    {{ __('En développement', 'savannair') }}
                </h3>
                <div class="wysiwyg module__developing__text {{ post.nom_unique }}__developing__text">
                    {{ post.meta('developing') }}
                </div>
            </section>
            <section class="modules__links">
                {% for module in modules %}
                    <a href="{{ module.link }}"
                       class="modules__link {{ module.nom_unique }}__link">
                        {{ __('Voir','savannair') }} {{ module.title }}
                    </a>
                {% endfor %}
            </section>
        </div>
    </main>


{% endblock %}